node_modules/
playwright/playwright-report/
playwright/allure-results/
playwright/allure-report/
playwright/test-results/
playwright/reports/*.log
playwright/reports/*.xml
vendor/
composer.lock
dist/
*.pyc
__pycache__/
docs/*.docx
docker/dolibarr/source/*
!docker/dolibarr/source/.gitkeep
