reports/*
!reports/.gitkeep
!reports/functional/
!reports/functional/.gitkeep
!reports/phpunit/
!reports/phpunit/.gitkeep
reports/functional/allure-results/
reports/functional/allure-report/
reports/phpunit/*.xml
reports/phpunit/*.log
node_modules/
__pycache__/
*.pyc
venv/
.env
vendor/
composer.lock
docs/*.docx
docker/dolibarr/source/*
!docker/dolibarr/source/.gitkeep
