<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="bootstrap.php" cacheResult="false" executionOrder="random">
  <testsuites>
    <testsuite name="Dolibarr Unit">
      <directory>tests</directory>
    </testsuite>
  </testsuites>
  <logging>
    <log type="junit" target="../playwright/reports/phpunit-junit.xml"/>
    <log type="teamcity" target="../playwright/reports/phpunit-teamcity.log"/>
  </logging>
</phpunit>
